@import 'colors.scss';
@import 'variables.scss';

.form {
  display: flex;
  align-items: center;
  width: 80%;
}

.button {
  background-color: $athens-gray;
  border: none;
}

.button:focus {
  outline: none;
}

.search {
  border: none;
  height: 100%;
}

.searchButton {
  height: 100%;
}