@import 'variables.scss';
@import 'colors.scss';

.product-container {
  background-color: $white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "image"
  "data"
  "description";
  padding: 20px;
  
  .product-image {
    align-self: center;
    grid-area: image;
    justify-self: center;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .product-condition {
    font-size: 15px;
  }

  .product-data-container {
    grid-area: data;
    margin-left: 20px;

    .product-title {
      font-size: 20px;
    }

    .product-buy-button {
      background-color: $cornflower-blue;
      border: 3px solid $cornflower-blue;
      border-radius: 5px;
      color: $white;
      height: 40px;
      margin-left: 10%;
      margin-top: 20px;
      width: 80%;
    }
  }

  .product-description-container {
    grid-area: description;

    .product-description-title {
      margin-top: 30px;
    }

    .product-description-text {
      font-weight: lighter;
      white-space: pre-line;
    }
  }
}

@media only screen and (min-width: $medium-device) {
  .product-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image image data"
      "description description description";

    .product-data-container {
  
      .product-buy-button {
        margin: 50px 0 0 0;
        width: 100%;
      }
    }
  }

}