@import 'colors.scss';

.product-container {
  padding: 10px;
  display: flex;
  min-height: 120px;
  border-bottom: 1px solid $athens-gray;
  background-color: white;

  .image-container {
    display: flex;
    vertical-align: middle;
    margin-right: 15px;
    max-width: 100px;
    width: 100%;

    .product-image {
      align-self: center;
      width: 100%;
    }
  }

  .description-container {
    padding: 15px 15px 0 20px;

    .product-title {
      font-size: 15px;
      font-weight: lighter;
    }
  
    .free-shipping-dot {
      margin-left: 5px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: green;
      display: inline-block;
      box-shadow: 0 0 3px 2px green;
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}