@import 'colors.scss';
@import 'variables.scss';

.navbarstyle {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background-color: $gorse;
  height: $navbar-height;
  padding: 0 10px;
  width: 100%;
  border-bottom: 1px solid $athens-gray;

  .logo {
    height: $navbar-items-height;
  }

  .form {
    height: $navbar-items-height;
    margin: 0 5px;
  }
}
