@import 'colors.scss';
@import 'variables.scss';

.navbar {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background-color: $gorse;
  height: $navbar-height;
  padding: 0 10px;
  width: 100%;
  border-bottom: 1px solid $athens-gray;

  .logo {
    height: $navbar-items-height;
  }

  .search-form {
    height: $navbar-items-height;
    margin: 0 5px;
    width: 100%
  }
}

@media only screen and (min-width: $medium-device) {
  .navbar {
    justify-content: center;

    .search-form {
      width: 60%;
    }
  }
}