{
  "presets": ["next/babel"],
  "plugins": [
    ["@babel/plugin-proposal-optional-chaining"],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~components": "./src/components",
        "~pages": "./src/pages",
        "~config": "./src/config",
        "~redux": "./src/redux",
        "~scss": "./src/scss",
        "~types": "./src/types",
        "~assets": "./src/public/static/assets",
        "~services": "./src/services"
      }
    }]
  ]
}
