{
  "presets": ["next/babel"],
  "plugins": [
    ["@babel/plugin-proposal-optional-chaining"],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~components": "./src/components",
        "~pages": "./src/pages",
        "~config": "./src/config"
      }
    }]
  ]
}
