@import './normalize.scss';
@import 'colors.scss';

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background-color: $athens-gray;
}

ul {
  padding: 0;
}