@import './normalize.scss';
@import 'colors.scss';

body {
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  background-color: $athens-gray;
}

ul {
  padding: 0;
}